@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@500&display=swap');

@font-face {
	font-family: 'Gotham';
	src: 	url('{{ "Gotham-Bold.eot" | asset_url }}');
	src: 	url('{{ "Gotham-Bold.eot" | asset_url }}#iefix') format("embedded-opentype"),
			url('{{ "GothamBold.woff" | asset_url }}') format("woff"),
	  url('{{ "GothamBold.woff2" | asset_url }}') format("woff2"),
		   url('{{ "GothamBold.svg" | asset_url }}#GothamBold') format("svg");
		  font-weight: bold;
		  font-style: normal;
  }

  .title,h1,.h1,h2,.h2,h3,.h3,h4.home__subtitle,h5.home--uppercase,.sky-pilot-access-denied h5,.sky-pilot-access-denied .h5,h4,.h4,h5,.h5,h6,.h6,.header-logo,.home__title,.title--flex,.product-form label,.password__hero {
	font-family: 'Gotham', sans-serif;
 }

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/* font-family: 'Josefin Sans', sans-serif; */
	font-family: 'Gotham', sans-serif;
	color: #c5b358;
}

.home,
.services,
.contact,
.about-us {
	display: flex;
	height: 90vh;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
}

.services {
	background-image: url('/images/img-2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: rgb(0, 0, 0);
	font-size: 100px;
}

.products {
	background-image: url('/images/img-1.jpg');
	background-position: center;
	background-size: fill;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.sign-up {
	background-image: url('/images/img-8.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: #fff;
	font-size: 100px;
}

.article {
	margin-top: 20px;
	margin-left: 120px;
	margin-right: 120px;
	text-align: center;
	color: #c5b358;
	font-size: 15px;
}

.sweet-loading {
  margin-top: 150px;
}

@media screen and (max-width: 960px) {
	.article {
		margin-top: 20px;
		margin-left: 40px;
		margin-right: 40px;
		text-align: center;
		color: #c5b358;
		font-size: 15px;
	}
}
